* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    font-size: 100%;
}
  
body {
    height: 100vh;
    color: white;
    background: #1F2326;
}

/* Header Barra */
.header {
    width: 100%; 
    height: 66px;
    left: 202px;
    top: 309px;
    border-radius: 6px;

    background: #EF1A14;
}

/* Menu do Header */
.lol img {
    float: left;
    height: 35px;
    width: 35px;
    border: thin solid;
    margin-top: -50px; 
    background-color: #1F2326;
    border-radius: 6px;
    
    
   
}
#menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
       
}

#menu ul li{
    display: inline;
      
}

#menu ul li a{
    padding: 22px;
    display: inline-block;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;  
    
    color: rgb(247, 243, 243);
    text-decoration: none; /* remover listra*/
}

#menu ul li a:hover{
    background-color: rgb(175, 25, 25);
    transition: 200ms;
}

.main_page{
    /*position: relative;*/
    display: block;
    /*margin-top: -50px;
    padding: 180px; */
    font-size: 36px;
}

.main_page h1{
    text-align: center;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main_page p{
    text-align: center;
    font-family: Graphik-Medium, Graphik-Regular, "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
}








