* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.979);

  /*background-color: #0f0f0f; */
  background-image: url(images/fundo4.jpg);
  background-repeat: no-repeat;
  
  
}

/* HEADER BARRA */
.header {
  position: fixed;
  width: 100%;
  height: 70px;
  
  background-color:rgb(198, 12, 49);
 
  /*background-color: #ca0b0b; 
    border: solid #dd1d1d 0.2px; */
  border-radius: 4px;
}

/* MENU DO HEADER */
.lol img {
  float: left;

  height: 35px;
  width: 35px;
  margin-top: -54px;
  margin-left: 100px;
}

#menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  padding: 24px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: rgba(250, 246, 246, 0.986);
  text-decoration: none; /* remover listra debaixo*/
}

/*transition*/
#menu ul li a:hover {
  background-color:rgba(145, 10, 10, 0.993);
  transition: 300ms;
  border-radius: 8px;
}

/* CONTEUDO INICIAL */
.main_page {
  display: block;
  text-align: center;
  
  justify-content: center;
  align-items: center;
}

/* logo prokrplays*/
.main_page img {
  width: 500px;
  height: 500px;
  /*padding: -300px; */
  margin-top: -70px; 
}
/* descrição site*/
.main_page p {
  font-size: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  padding: 80px;
  margin-top: -250px;

  color: rgba(235, 215, 215, 0.986);
  font-style: oblique;
}

/* banner coreanos */
.banner img {
  height: 550px;
  width: 1024px;
  display: block;

  margin-top: -75px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  /* background-color: #ca0b0b;  ALTERAR FUNDO BANNER */
}

/* CAMPO PESQUISA */
#busca {
  background-color: none;
  border: solid 0.5px #252424;
  border-radius: 6px;
  width: 50%;
  height: 36px;
  display: block;

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#txtbusca {
  float: left;
  background-color: transparent;
  padding-left: 20px; /* AJEITAR DEPOIS */
  font-size: 16px;
  border: none;
  height: 32px;
  width: 89%;
  color: white;
  outline: 0; /*borda preta da caixa de pesquisa*/
}

/*bottom buscar*/
#btnbusca {
  border: none;
  float: right;
  height: 35px;
  border-radius: 0 5px 5px 0;
  width: 71px;
  font-weight: bold;
  background:  rgb(198, 12, 49);
  cursor: pointer;
  color: white;
  outline: 0;
}

#btnbusca:hover {
  background-color: rgba(145, 10, 10, 0.993);
  transition: 300ms;
  border-radius: 0 5px 5px 0;
}

/* THUMBS-VÍDEOS */
.thumbnail {
  align-items: center;
  display: inline-block;
  margin-top: 50px;
}

.thumbnail img {
  border-radius: 28px;
  width: 300px; /*320*/
  height: 180px; /*180 original*/
  padding: 14px;
  left: 50%;
  right: 50%;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

/* AVANÇO PÁGINAS */
footer {
  text-decoration: none;
  list-style: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  display: flex;
  justify-content: center;
  color: white;
}

footer li {
  margin-top: 40px;
}

footer li a {
  cursor: pointer;
  color:rgba(75, 72, 72, 0.993);
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  text-decoration: none;
}

footer li a:hover {
  background-color:  rgba(145, 10, 10, 0.993);
  transition: 300ms;
}

